<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Get-Raw-data" data-toc-modified-id="Get-Raw-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Get Raw data</a></span></li><li><span><a href="#2-Statistical-Description" data-toc-modified-id="2-Statistical-Description-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>2 Statistical Description</a></span></li></ul></div>

In [20]:
import os
import gzip
import json
import pandas as pd
import numpy as np

from config import RAW_DIR, PRE_DIR, RES_DIR
from utils.data_porter import read_from_csv, save_to_csv

# Get Raw data

In [21]:
df_vgame_dir = os.path.join(RAW_DIR, 'Video_Games.csv')
gz_vgame_dir = os.path.join(RAW_DIR, 'Video_Games_5.json.gz')

In [22]:
df_vgame = read_from_csv(df_vgame_dir, header=None, names=['ProductID', 'ReviewerID', 'Rating', 'TimeStamp'])
df_vgame['TimeStamp'] = pd.to_datetime(df_vgame.TimeStamp, unit='s')
df_vgame.head()

    ProductID      ReviewerID  Rating  TimeStamp
0  0439381673  A21ROB4YDOZA5P     1.0 2014-06-09
1  0439381673  A3TNZ2Q5E7HTHD     3.0 2014-05-10
2  0439381673  A1OKRM3QFEATQO     4.0 2014-02-07
3  0439381673  A2XO1JFCNEYV3T     1.0 2014-02-07
4  0439381673  A19WLPIRHD15TH     4.0 2014-01-16

In [23]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')


review_data = getDF(gz_vgame_dir)
review_data.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 17, 2015",A1HP7NVNPFMA4N,0700026657,Ambrosia075,"This game is a bit hard to get the hang of, bu...",but when you do it's great.,1445040000,NaN,NaN,NaN
1,4.0,False,"07 27, 2015",A1JGAP0185YJI6,0700026657,travis,I played it a while but it was alright. The st...,"But in spite of that it was fun, I liked it",1437955200,NaN,NaN,NaN
2,3.0,True,"02 23, 2015",A1YJWEXHQBWK2B,0700026657,Vincent G. Mezera,ok game.,Three Stars,1424649600,NaN,NaN,NaN
3,2.0,True,"02 20, 2015",A2204E1TH211HT,0700026657,Grandma KR,"found the game a bit too complicated, not what...",Two Stars,1424390400,NaN,NaN,NaN
4,5.0,True,"12 25, 2014",A2RF5B5H74JLPE,0700026657,jon,"great game, I love it and have played it since...",love this game,1419465600,NaN,NaN,NaN

# 2 Statistical Description

In [24]:
df_vgame = df_vgame.sort_values(by='TimeStamp')

In [26]:
df_vgame['Rating'].value_counts()

5.0    1487366
4.0     412413
1.0     311891
3.0     212346
2.0     141333
Name: Rating, dtype: int64

In [27]:
df_vgame.groupby('ProductID').mean()

              Rating
ProductID
0042000742  5.000000
0078764343  4.750000
0276425316  5.000000
0324411812  1.000000
0439335299  3.000000
...              ...
B01HJ14OT0  5.000000
B01HJ14TTA  3.000000
B01HJ1521Y  5.000000
B01HJC33WS  4.590909
B01HJEBIAA  4.233333

[71982 rows x 1 columns]

In [ ]:
df_vgame.groupby('ProductID').mean()